body {
    background-color: white;
    margin: 0px;
}

/*html {
    scroll-behavior: smooth;
}
*/
header {
    background-color: white;
    text-align: center;
    padding: 10px;
}

div {
    text-align: center;
}

/* navbar items */

.navbar ul {
    list-style-type: none;
    background-color: #197051;
    padding-left: 20%;
    padding-right: 10%;
    margin: 0px;
    overflow: hidden;
    
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    transition: 0.5s;
}

.navbar a:hover {
    background-color: grey;
    
}

.navbar li {
    float: left;
}

/* Biography */

#bioContainer {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.headerStyle {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid #197051;
    padding: 10px;
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
}

#brodyPicture {
    max-width: 900px;
    margin: 30px;
    border-radius: 50px;
}

#para1 {
    margin: 30px;
}
/* END of BIOGRAPHY */


/*Hockey */

.hockeyPara {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

#hockeyContainer {
    display: block;
    align-items: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

ol  {
    text-align: center;
    list-style-position: inside;
    text-align: left;
    border: 2px #197051 solid;
    padding: 5px;
    max-width: fit-content;
    
}

#listStyle {
    display: flex;
    justify-content: center;
    background-color: #197051;
    color: white;
    width: 45%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 30px;
}

/* END of HOCKEY */

/* Table */ 

#tableStyle {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 4px #197051 solid;

}

table td {
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 2px #197051 solid;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

table tr {
    font-size: 30px;
}

.pFormat {
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    
}